@page "/Admin"
@inject IDirectoryData data
@inject NavigationManager navManager

<html>
  <head>
    <PageTitle>Phone Directory Admin Portal</PageTitle>
    <link rel="stylesheet" href="/css/portal.css"/>
  </head>
  <body>
    <AuthorizeView>
      <Authorized>
        <div class="search-container">
          <button class="return-button" @onclick="ReturnToHome">Return to Directory</button>
          <input type="text" placeholder="Search" class="search-box"
             @oninput="((txt) => OnSearchInput((string)txt.Value))"/>
        </div>
          <h2>Admin Portal</h2>
        <div>
          <h6 class="department-title">Departments</h6>
        </div>
        <div class="main-container">
          <div>
            <button class="add-new-button" @onclick="OnAddRecord">Add New Record</button>
            <button class="see-all-button" @onclick="(() => OnAllClick())">See All</button>
            @if (departments is not null)
            {
              @foreach (var d in departments)
              {
                <div>
                  <button class="department-buttons" @onclick="(() => OnClick(d))">@d.Name</button>
                </div>
              }
            }
          </div>
          <div>
            <p><strong>Select a record to edit</strong></p>
            @if (personnel is not null)
            {
              @foreach (var p in personnel)
              {
                <div class="records" @onclick="(() => OnRecordClick(p))">
                  <p class="record-text">
                    @p.LastName,
                    @p.FirstName
                    &#40; @p.Department.Name
                    @p.Title.Name &#41;
                  </p>
                </div>
              }
            }
          </div>
        </div>
      </Authorized>
      <NotAuthorized>
        Sorry, you must be an administrator to view this page!
      </NotAuthorized>
    </AuthorizeView>
  </body>
</html>        

