@page "/Admin"
@inject IDirectoryData data
@inject NavigationManager navManager

<html>
  <head>
    <PageTitle>Phone Directory Admin Portal</PageTitle>
    <link rel="stylesheet" href="/css/site.css"/>
  </head>
  <body>
    <AuthorizeView>
      <Authorized>
        <div class="search-container">
          <button class="return-button" @onclick="ReturnToHome">Return to Directory</button>
          <input type="text" placeholder="Search" class="search-box"
             @oninput="((txt) => OnSearchInput((string)txt.Value))"/>
        </div>
          <h2 class="admin-h2">Admin Portal</h2>
        <div>
          <h6 class="department-title">Departments</h6>
        </div>
        <div class="main-container">
          <div>
            <button class="add-new-button" @onclick="OnAddRecord">Add New Record</button>
            <button class="see-all-button" @onclick="(() => OnAllClick())">See All</button>
            @if (departments is not null)
            {
              @foreach (var d in departments)
              {
                <div>
                  <button class="department-buttons" @onclick="(() => OnClick(d))">@d.Name</button>
                </div>
              }
            }
          </div>
          <div class="admin-second-column">
            <div class="select-record">
              <p><strong>Select a record to edit</strong></p>
            </div>
            <div class="records">
            @if (personnel is not null)
            {
              @foreach (var p in personnel)
              {
                <div class="individual-record" @onclick="(() => OnRecordClick(p))">
                  <p class="record-text">
                    @p.LastName,
                    @p.FirstName
                    <span class="bullet">&#183;</span>
                    @p.Title.Name
                    @p.Department.Name
                    <span class="bullet">&#183;</span>
                    @string.Format("{0: #(###) ###-####}", Convert.ToInt64(p.PhoneMain))
                    <span class="bullet">&#183;</span>
                    @string.Format("{0: #(###) ###-####}", Convert.ToInt64(p.PhoneMobile))
                    <span class="bullet">&#183;</span>
                    x @p.Extension
                  </p>
                </div>
              }
            }
          </div>
          </div>
          <br />
          <br />
          <br />
        </div>
      </Authorized>
      <NotAuthorized>
        Sorry, you must be an administrator to view this page!
      </NotAuthorized>
    </AuthorizeView>
  </body>
</html>        

