@page "/Edit/{Id:int}"

@inject IDirectoryData data
@inject NavigationManager navManager

<html>
   <head>
    <PageTitle>Edit A Record</PageTitle>
    <link rel="stylesheet" href="/css/site.css"/>
  </head>
  <body>
    <AuthorizeView Context="Auth">
      <Authorized>
        <button class="return-button" @onclick="ReturnToAdmin">Return to Admin page</button>
        @if (person is not null && !isDeleted)
        {
          <div class="info-line">
            <h3>@person.FirstName @person.LastName <span class="title-stats">@person.Title.Name @person.Department.Name</span></h3>
          </div>
          @if (isNewRecord)
          {
            <h6 class="new-h6">New Record</h6>
          }
          else
          {
            <h6 class="edit-h6">Editting Record</h6>
            @if (confirmDelete)
            {
              <button class="delete-button" @onclick="(() => ConfirmedDeleteRecord(person))">@deleteButtonText</button>
            }
            else
            {
              <button class="delete-button" @onclick="DeleteRecord">@deleteButtonText</button>
            }
          }
          <div>
            <EditForm Model="person" OnValidSubmit="SaveEdit">
          <DataAnnotationsValidator />
          <ValidationSummary />
            <div class="input-group-item">
              <div>
                  <label for="first-name" class="input">First Name</label>
              </div>
              <InputText class="input" id="first-name" @bind-Value="person.FirstName" @onfocus="ResetEditState" />
            </div>
            <div class="input-group-item">
              <div>
                  <label for="last-name" class="input">Last Name</label>
              </div>
              <InputText class="input" id="last-name" @bind-Value="person.LastName" @onfocus="ResetEditState"/>
            </div>
            <div class="input-group-item">
              <div>
                  <label for="email-address" class="input">Email Address</label>
              </div>
              <InputText class="input" id="email-address" @bind-Value="person.EmailAddress" @onfocus="ResetEditState"/>
            </div>
            <div class="input-group-item">
              <div>
                  <label for="phone-main" class="input">Primary Phone Number</label>
              </div>
              <InputText class="input" id="phone-main" @bind-Value="person.PhoneMain" @onfocus="ResetEditState"/>
            </div>
            <div class="input-group-item">
              <div>
                <label for="phone-mobile" class="input">Mobile Phone</label>
              </div>
              <InputText class="input" id="phone-mobile" @bind-Value="person.PhoneMobile" @onfocus="ResetEditState"/>
            </div>
            <div class="input-group-item">
              <div>
                  <label for="extension" class="input">Extension</label>
              </div>
              <InputText class="input" id="extension" @bind-Value="person.Extension" @onfocus="ResetEditState"/>
            </div>
            <div class="input-group-item">
              <div>
                  <label class="input">Department</label>
              </div>
              <InputSelect class="input" id="department" @bind-Value="person.Department.Name" @onfocus="ResetEditState">
                @if (departments is not null)
                {
                  @foreach (var d in departments)
                  {
                      <option value=@d.Name>@d.Name</option>
                  }
                }
              </InputSelect>
            </div>
            <div class="input-group-item">
              <div>
                <label class="input">Title</label>
              </div>
              <InputSelect class="input" id="title" @bind-Value="person.Title.Name" @onfocus="ResetEditState">
                @if (titles is not null)
                {
                  @foreach (var t in titles)
                  {
                      <option value=@t.Name>@t.Name</option>
                  }
                }
              </InputSelect>
            </div>
            <div class="input-group-item">
              <div>
                  <label for="notes-text" class="input">Notes</label>
              </div>
              <InputTextArea  class="input" id="notes-text" @bind-Value="person.Notes" @onfocus="ResetEditState"/>
            </div>
            <div>
              <button type="submit" class="btn btn-success">@saveButtonText</button>
            </div>
          </EditForm>
          <br/>
          <br/>
        </div>
        }
        else
        {
          <h2>Record Deleted</h2>
        }
      </Authorized>
      <NotAuthorized>
        <h3>You are not authorized to view this page</h3>
      </NotAuthorized>
    </AuthorizeView>
  </body>
</html>
