@page "/"
@inject IDirectoryData data
@inject NavigationManager navManager


<PageTitle>Phone Directory Home</PageTitle>



<AuthorizeView>
    <Authorized>
        <div>
            <button class="btn btn-outline-dark" @onclick="(() => OnAdminClick())">Admin</button>
        </div>

    </Authorized>
</AuthorizeView>

<div>
    <button class="btn btn-outline-dark" @onclick="(() => OnAllClick())">See All</button>
</div>

@if (departments is not null)
{
    @foreach (var d in departments)
    {
        <div>
            <button class="btn btn-outline-dark" @onclick="(() => OnClick(d))">@d.Name</button>
        </div>
    }
}
@if (personnel is not null)
{
    @foreach (var p in personnel)
    {
        <div>
            @p.LastName
            @p.FirstName
            @p.Department.Name
            @p.Title.Name
            @p.PhoneMain
            @p.PhoneMobile
            @p.EmailAddress
            @p.Extension
        </div>
    }
}


<div>
    <input type="text" placeholder="Search" itemref="searchBox"
    aria-label="Search Box" 
    @oninput="((txt) => OnSearchInput((string)txt.Value))"/>
</div>

@code{
    private List<DepartmentModel> departments;
    private List<PersonnelModel> personnel;
    private string selectedDepartment = "All";
    private string searchText = "";
    ElementReference searchBox;

    protected async override Task OnInitializedAsync()
    {
        departments = await data.GetAllDepartmentsAsync();
        personnel = await data.GetAllRecordsAsync();
    }

    private async Task OnClick(DepartmentModel d)
    {
        searchText = "";
        selectedDepartment = d.Name;
        await Filter();
    }

    private async Task Filter()
    {
        var output = await data.GetAllRecordsAsync();

        if (selectedDepartment != "All")
        {
            output = output.Where(x => x.Department.Name == selectedDepartment).ToList();
            output.OrderBy(x => x.IsExec == true).ThenByDescending(x => x.TitleId).ThenByDescending(x => x.LastName).ToList();
        }

        if (string.IsNullOrWhiteSpace(searchText) == false)
        {
            output = output.Where(
                x => x.FirstName.Contains(searchText, StringComparison.InvariantCultureIgnoreCase) ||
                x.LastName.Contains(searchText, StringComparison.InvariantCultureIgnoreCase)       ||
                x.Extension.Contains(searchText, StringComparison.InvariantCultureIgnoreCase)      ||
                x.PhoneMain.Contains(searchText, StringComparison.InvariantCultureIgnoreCase)      ||
                x.PhoneMobile.Contains(searchText, StringComparison.InvariantCultureIgnoreCase)
            ).ToList();
        }
        else
        {
            personnel = await data.GetAllRecordsAsync();
        }

        personnel = output;
    }
    private async Task OnSearchInput(string searchInput)
    {
        searchText = searchInput;
        await Filter();
    }
    private async Task OnAllClick()
    {
        selectedDepartment = "All";
        await Filter();
    }

    private void OnAdminClick()
    {
        navManager.NavigateTo("/Admin");
    }
}
