@page "/"
@inject IDirectoryData data
@inject NavigationManager navManager

<style>

  button{
    border: none;
    transition: box-shadow .15s;
    border-radius: 4px;
  }

  p{
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .see-all-button{
    margin-bottom: 4px;
  }
  
  .admin-button{
  
  }
  
  .department-buttons{
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  button:hover{
    background-color: rgb(235, 235, 235);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
  }
  
  button:active{
    color: white;
    background-color: rgb(90, 90, 90);
    box-shadow: 5px 5px 10px rgb(60, 60, 60);
    transition: background-color .15s;
    transition: color .15s;
  }
  
  .phone-text{
    color: black;
    font-size: 16px;
    margin-left: 20px;
  }
  
  .email-address{
    color: rgb(0, 0, 160);
    font-size:16px;
    text-align: right;
  }
  
  .record-block{
    margin-bottom: 8px;
    max-width:fit-content;
  }
  
  .main-div{
    display: flex;
  }
  
  .full-name-text{
    font-size: 24px;
    margin-bottom: -2px;
  }
  
  .full-name-div{
  
  }

  .title-and-department-text{
    font-size: 16px;
    margin-top: -2px;
    margin-left: 10px;
    margin-bottom: 4px;
    color: rgb(106, 106, 106)
  }

  .phone-icon{
    color:green;
  }

  .person-details-block{
    margin-left: 10px;
  }

</style>

<html>
  <head>
    <PageTitle>Phone Directory Home</PageTitle>
  </head>
  <body>
    <h1>Phone Directory</h1>
    <br/>
    <br/>
    <h6>Departments</h6>
    <div>
      <div>
        <button class="see-all-button" @onclick="(() => OnAllClick())">See All</button>
      </div>
      @if (departments is not null)
      {
        @foreach (var d in departments)
        {
          <div>
            <button class="department-buttons" @onclick="(() => OnClick(d))">@d.Name</button>
          </div>
        }
      }
    </div>
    @if (personnel is not null)
    {
      @foreach (var p in personnel)
      {
        <div class="record-block">
          <div class="full-name-div">
            <p class="full-name-text">
              <strong>@p.LastName</strong>,
              <strong>@p.FirstName</strong>
            </p>
          </div>
            <div class="person-details-block">
              <p class="title-and-department-text">
                @p.Title.Name &#183;
                @p.Department.Name
              </p>
            <div>
              <p class="phone-block">
                <span class="phone-icon">&#9742;</span> @string.Format("{0: #(###) ###-####}", Convert.ToInt64(p.PhoneMain))
                x @p.Extension
                &#128241; @string.Format("{0: #(###) ###-####}", Convert.ToInt64(p.PhoneMobile))
              </p>
            </div>
            <div>
              <p class="email-address">
                @p.EmailAddress
              </p>
            </div>
          </div>
        </div>
      }
    }
    <div>
      <input type="text" placeholder="Search" itemref="searchBox" aria-label="Search Box" 
       @oninput="((txt) => OnSearchInput((string)txt.Value))"/>
    </div>
  </body>
</html>



<AuthorizeView>
    <Authorized>
      <button class="admin-button" @onclick="(() => OnAdminClick())">Admin  Portal</button>
    </Authorized>
</AuthorizeView>


