@page "/"
@inject IDirectoryData data
@inject NavigationManager navManager

<html>
  <head>
    <PageTitle>Phone Directory Home</PageTitle>
    <link rel="stylesheet" href="/css/site.css"/>
  </head>
  <body>
    <div class="sub-header">
      <h4 class="department-title">Departments</h4>
      <input type="text" placeholder="Search" class="search-box"
       @oninput="((txt) => OnSearchInput((string)txt.Value))"/>
    </div>
    <div class="main-container">
      <div>
        <AuthorizeView>
          <Authorized>
            <button class="admin-button" @onclick="(() => OnAdminClick())">Admin  Portal</button>
          </Authorized>
        </AuthorizeView>
        <button class="see-all-button" @onclick="(() => OnAllClick())">See All</button>
        @if (departments is not null)
        {
          @foreach (var d in departments)
          {
            <button class="department-buttons" @onclick="(() => OnClick(d))">@d.Name</button>
          }
        }
      </div>
      <div class="personnel-container">
        @if (personnel is not null)
        {
          @foreach (var p in personnel)
          {
            <div class="record-block">
              <p class="full-name-text">
                @p.LastName,
                @p.FirstName
              </p>
              <div class="person-details-block">
                <p class="title-and-department-text">
                  @p.Title.Name
                  @p.Department.Name <span class="bullet">&#183;</span>
                  <span class="phone-icon">&#9742;</span> @string.Format("{0: #(###) ###-####}", Convert.ToInt64(p.PhoneMain))
                  x @p.Extension<span class="bullet">&#183;</span>
                  &#128241; @string.Format("{0: #(###) ###-####}", Convert.ToInt64(p.PhoneMobile))<span class="bullet">&#183;</span>
                  <span class="email-address">@p.EmailAddress</span>
                </p>
              </div>
            </div>
          }
        }
        <br />
        <br />
        <br />
      </div>
    </div>
  </body>
</html>
